<div class="email" style="font-family: 'Raleway',sans-serif; font-size: 1rem; border: 2px solid #FF0F64;">
	<div class="email-header" style="background-color: #FF0F64; width: 100%; padding-top: 3px;">
		<img src="https://pdidesarrollo.com/assets/img/logo-blanco.png" style="width: 100px;margin-bottom: 5px;">			
	</div>
	<div class="email-body" style="padding: 12px;">
		<p>Estimado(a) <strong style="color:#FF0F64;">{{nombres}}</strong></p>
		<p>Adjuntamos los resultados de tu plan de desarrollo individual registrado por {{jefe}}.</p>

		<p><strong style="color:#FF0F64;text-decoration: underline;">Competencia 1:</strong></p>
		<p>{{competencia01}}</p>
		<p><span style="color:#FF0F64;">Objetivo:</span></p>
		<p>{{objetivo01}}</p>
		<p><span style="color:#FF0F64;">Reto 1:</span></p>
		<p>{{reto011}}</p>
		<p><span style="color:#FF0F64;">Reto 2:</span></p>
		<p>{{reto012}}</p>
		<p><span style="color:#FF0F64;">Cross training:</span></p>
		<p>{{crossTraining01}}</p>
		<p><span style="color:#FF0F64;">Tutoría:</span></p>
		<p>{{tutoria01}}</p>
		<p><span style="color:#FF0F64;">Competencia:</span></p>
		<p>{{formaciones01}}</p>
		<br>
		<p><strong style="color:#FF0F64;text-decoration: underline;">Competencia 2:</strong></p>
		<p>{{competencia02}}</p>
		<p><span style="color:#FF0F64;">Objetivo:</span></p>
		<p>{{objetivo02}}</p>
		<p><span style="color:#FF0F64;">Reto 1:</span></p>
		<p>{{reto021}}</p>
		<p><span style="color:#FF0F64;">Reto 2:</span></p>
		<p>{{reto022}}</p>
		<p><span style="color:#FF0F64;">Cross training:</span></p>
		<p>{{crossTraining02}}</p>
		<p><span style="color:#FF0F64;">Tutoría:</span></p>
		<p>{{tutoria02}}</p>
		<p><span style="color:#FF0F64;">Competencia:</span></p>
		<p>{{formaciones02}}</p>
		<br>

		<p>Si tienes algunda duda nos puedes escribir por esta misma vía.</p>
		<p>Saludos,</p>
    <p>Equipo PDI Desarrollo</p>
	</div>
</div>